<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>detail</title>
</head>
<body>
<h1>Hero Details</h1>
<ul>
    Name : {{hero.name}} <br>
    Secret Identity : {{hero.secret_identity}} <br>
    Power: {{hero.main_power}} <br>
    Secondary Power : {{hero.secondary_power}} <br>
    Catchphrase : {{hero.catchphrase}} <br>

</ul>
</body>
</html>