<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Superheroes_index</title>
</head>
<body>
<h1>List of Superheroes</h1>
<ul>
    {% for Hero in all_heroes %}
    <li><h2> {{Hero.name}}</h2>
        <a href="{% url 'superheroes:detail' Hero.id %}">See more info</a></li>
    {% endfor %}
</ul>
</body>
</html>