<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>update</title>
</head>
<body>
<form action="{% url 'superheroes:update'% }" method="post">
    {% csrf_token %}
    name:<input type="text" name="name" id="name"><br>
    secret identity:<input type="text" name="secret identity" id="secret identity"><br>
    main power:<input type="text" name="main power" id="main power"><br>
    secondary power:<input type="text" name="secondary power" id="secondary power"><br>
    catchphrase:<input type="text" name="catchphrase" id="catchphrase"><br>
    <input type="submit" value="update!">
</form>
</body>
</html>